/* GLOBAL STYLES */
body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5231A1;
  background-color: #fff;
}

/* CUSTOMIZE THE CAROUSEL */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-item {
  height: 32rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.btn-primary {
  display: block;
  background-color: #B8AAFF;
  border-color: #5231A1;
  color: #5231A1;
  margin-top: 50px;
  margin-bottom: 25px;
  margin-left: auto;
  margin-right: auto;
}

.modal-body {
  text-align: center; }
  .modal-body img {
    padding: 25px; }

/* Featurettes */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  color: #6D0047;
}

.featurette {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 1200px;
  align-items: center;
  margin-left: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
}

h2 span {
  color: #C00476;
}

/* RESPONSIVE CSS */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
